<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\nlog-internal.log">

  <targets>
    <target name="fileTarget" xsi:type="File"
            fileName="Logs/BoshenCC-Service-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${logger}: ${message} ${exception:format=tostring}" />

    <target name="consoleTarget" xsi:type="Console"
            layout="${time} [${level:uppercase=true}] ${logger}: ${message} ${exception:format=tostring}" />

    <target name="debugFileTarget" xsi:type="File"
            fileName="Logs/BoshenCC-Service-Debug-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${logger} (${callsite:className=true}.${callsite:methodName=true}:${callsite:lineNumber=true}): ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    <logger name="BoshenCC.Services.*" minlevel="Debug" writeTo="debugFileTarget" />
    <logger name="*" minlevel="Warning" writeTo="consoleTarget" />
  </rules>
</nlog>
